body {
  background-color: #ffe6e6;
}

#doctorName {
  min-height: 75px;
}

#ailmentName {
  min-height: 75px;
}

input {
  min-width: 250px;
}

#outputRow {
  overflow: auto;
  max-height: 650px;
}

.listing {
  border: 1px;
  margin: 5px;
  padding: 7px;
}

img {
  float: right;
}

h1 {
  margin: 30px
}

.last_name {
  background-color: #e6ffe6;
}

.query {
  background-color: #eee6ff;
}
